<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.timecat.module.skin">

    <application>
        <activity android:name=".SkinActivity"/>
        <activity android:name=".SkinDetailActivity"/>
        <activity android:name=".SkinDesignActivity" />
        <activity android:name=".SkinDownloadActivity" />
        <activity android:name=".SkinUpdateActivity" />
        <activity android:name=".SkinCloudActivity" />

        <meta-data
            android:name="com.timecat.module.skin.base.GlobalConfiguration"
            android:value="ConfigModule"/>
    </application>

</manifest>